body {
    
    background: url(../images/P.svg);
    background-size: inherit;
    animation-name: startAnimation;
    animation-duration: 5s;
}

a.menuButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    /*appearance: button;*/
    display: block;
    text-decoration: none;
    clear: both;
    width: 60%;
    background-color: #062D2F;
    
    left: 20%;
    margin-bottom: 10%;
    position: relative;
}

#shit {
    font-size: 20px;
    color:red;
    background-color: green;
}

#shit:hover {
    background-color: black;
}

.menuButtonDiv {
    height: 100%;
}


@keyframes startAnimation {
    from { background-color: grey; }
    to { background: url(../images/P.svg); }
}